In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("pressureTable.csv")

In [4]:
df.head()

,Psat,Tsat,vf,vfg,vg,uf,ufg,ug,hf,hfg,hg,sf,sfg,sg
0,40,-50.3,0.001424,2.6792,2.6806,-35.13,1319.7,1284.5,-35.1,1426.8,1391.8,0.0498,6.4025,6.4523
1,45,-48.3,0.001429,2.3997,2.4012,-24.97,1312.0,1287.0,-24.9,1420.0,1395.1,0.0952,6.3153,6.4105
2,50,-46.5,0.001433,2.1745,2.1759,-15.85,1305.1,1289.3,-15.8,1413.9,1398.1,0.1356,6.2376,6.3732
3,55,-44.8,0.001437,1.9892,1.9906,-7.59,1298.9,1291.3,-7.5,1408.3,1400.8,0.1720,6.1676,6.3396
4,60,-43.2,0.001441,1.8336,1.8351,0.00,1293.2,1293.2,0.1,1403.3,1403.3,0.2051,6.1037,6.3088